@media only screen and (min-width:992px) and (max-width:1200px){
    .main{
        width: 970px;
    }
    .single-menu{
        flex-direction: column;
        width: 100%;
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px){
    .main{
        width: 750px;
    }
    .single-menu{
        flex-direction: column;
        width: 100%;
    }
    .single-menu img{
        margin-bottom: 25px;
    }

}
@media only screen and (max-width:767px){
    .main{
        width: 320px;

    }
    .menu-column{
        width: 100%;
        margin-bottom: 30px;
    }
    .single-menu{
        display: flex;
        width: 100%;
        
        
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}